.social-links-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 12.50rem;
}

.social-links-list__list-item {
	position: relative;
}

.social-links-list__link {
	box-sizing: border-box;
	display: block;
	width: 31rem;
	height: 31rem;
	border-radius: 100%;
	background-color: transparent;
	border: 1px solid rgba(76, 123, 243, 0.15);
}

.facebook-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.twitter-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.instagram-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}