:root {
	--font-family: "Libre Franklin";

	--white: #ffffff;
	--shark-fin: #969696;
	--hei-se-black: #15202a;
	--pale-phthalo-blue: #c2d3ff;
	--cuddle: #b8c7ed;
	--blue-oyster-cult: #4c7bf3;
	--cello: #3b4e5f;
	--ufo-green: #2ecc71;
}