.facebook-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
}

.twitter-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
}

.instagram-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	z-index: 2;
	pointer-events: none;
	user-select: none;
}